/*
Color scheme:

#4F71C3 lighter blue
#695D96 darker purple

#ECE9EF white with a bit of purple 

#E8F3D5 light green

*/


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.literal {

}

.variable:before {
  content: '{';
}

.variable:after {
  content: '}';
}

.literal:hover {
  background-color:#ECE9EF; 
}

.variable{

  color: #4F71C3;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
